/* home component */
.hover-button {
  transition: all 0.3s ease;
}

.hover-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#home{
  background-color: #c8e9fc;
}

/* solutions component */
.solution-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.solution-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/* pricing component */
.pricing-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.pricing-card:hover {
  transform: scale(1.05);
  border: 2px solid #0d6efd; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.pricing-btn {
  transition: all 0.3s ease;
}

.pricing-btn:hover {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

/* Navbar component */
.navbar .nav-link {
  position: relative;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: #4f46e5; 
}

.navbar .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #4f46e5;
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.navbar-brand img {
  transition: transform 0.3s ease;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}
